<div class="productos container p-5">
    <div class="">
        <h1>Productos</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="mb-3">
                <form action="/product/filter" method="GET">
                    <h4>Filtrar por:</h4>
                    <div class="form-group">
                        <label for="colorFilter">Color</label>
                        <select class="form-control" id="colorFilter" name="color">
                            <option value=""> -- Seleccione el Color --</option>
                            <option value="Beige">Beige</option>
                            <option value="Negro">Negro</option>
                            <option value="Blanco">Blanco</option>
                            <option value="Azul">Azul</option>
                            <option value="Marron">Marrón</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="priceFilter">Precio</label>
                        <select class="form-control" id="priceFilter" name="precio">
                            <option value=""> -- Seleccione el Precio --</option>
                            <option value="0-20">Menos de S/.20</option>
                            <option value="20-50">S/.20 - S/.50</option>
                            <option value="50-100">S/.50 - S/.100</option>
                            <option value="100-200">S/.100 - S/.200</option>
                            <option value="200+">Más de S/.200</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="genderFilter">Género</label>
                        <select class="form-control" id="genderFilter" name="genero">
                            <option value=""> -- Seleccione el Genero --</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sizeFilter">Talla</label>
                        <select class="form-control" id="sizeFilter" name="talla">
                            <option value=""> -- Seleccione la Talla --</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Aplicar Filtros</button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="row">
                {{#each products}}
                <div class="col-12 col-md-4">
                    <div class="mb-3 card">
                        <div class="mx-3 card-body">
                            <img src="{{imagen}}" alt="Imagen del producto" class="card-img-top">
                            <h5 class="card-title">{{nombre}}</h5>
                            <p class="card-text">Color: {{color}}</p>
                            <p class="card-text">Precio: S/.{{precio}}</p>
                            <div class="btn-group mx-2" role="group" aria-label="Ver Detalles">
                                <a href="/product/product-details/{{this._id}}">
                                    <button type="button" class="btn btn-success btn-sm mx-2">Ver Detalles</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
