<div class="perfil d-flex flex-column">
    <div class="perfil-contenido d-flex container row">
        <div class="perfil-opciones col-md-3">
            <div class="d-flex">
                <img src="/img/usuario.png" width="50" alt="icono de usuario" class="m-4">
                {{#if user}}
                    <h5 class="mt-4">Hola, <span style="text-transform: capitalize;">{{user.nombre}} {{user.apellido}}</span></h5>
                {{/if}}
            </div>
            <div class="opciones mx-3 mt-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fas fa-user fa-1x"></i>
                        <a href="#" class="btn-link">Datos Personales</a>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fas fa-edit fa-1x mr-2"></i>
                        <a href="#" class="btn-link">Actualizar Mis Datos</a>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fas fa-shopping-cart fa-1x mr-2"></i>
                        <a href="#" class="btn-link">Mis Compras</a>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="fas fa-map-marker fa-1x mr-2"></i>
                        <a href="#" class="btn-link">Mis Direcciones</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Divisor vertical -->
        <div class="col-md-2 d-flex align-items-center justify-content-center">
            <div class="vertical-line"></div>
        </div>

        <div class="perfil-datos col-md-3">
            <div class="mb-4">
                <h3>Mis Datos Personales</h3>
            </div>
            {{#if user}}
            <p><strong>NOMBRE:</strong> {{user.nombre}}</p>
            <p><strong>APELLIDO:</strong> {{user.apellido}}</p>
            <p><strong>DNI:</strong> {{user.dni}}</p>
            <p><strong>ROL:</strong> {{user.rol}}</p>
            <p><strong>CORREO:</strong> {{user.correo}}</p>
            {{/if}}
        </div>
    </div>
</div>


<!-- Bloque de beneficios (derecho) -->
<div class="beneficios-contenido">
    <div class="p-4">
        <div class="mx-5">
            <h5>Beneficios de tener una cuenta:</h5>
        </div>
        <ul class="list-unstyled d-inline-flex mt-5">
            <li class="d-flex flex-column align-items-center mx-3">
                <i class="fas fa-shopping-cart fa-2x"></i>
                <span class="mt-3">Seguimiento de compras en línea.</span>
            </li>
            <li class="d-flex flex-column align-items-center mx-3">
                <i class="fas fa-headset fa-2x"></i>
                <span class="mt-3">Atención al cliente personalizada.</span>
            </li>
            <li class="d-flex flex-column align-items-center mx-3">
                <i class="fas fa-store fa-2x"></i>
                <span class="mt-3">Opciones de retiro en tienda.</span>
            </li>
            <li class="d-flex flex-column align-items-center mx-3">
                <i class="fas fa-tags fa-2x"></i>
                <span class="mt-3">Ofertas exclusivas y promociones.</span>
            </li>
        </ul>
    </div>
</div>